#search-form {
  width: 80%;
  display: flex;

  input {
    width: 90%;
    height: 50%;
    margin-left: 2%;
    font-size: 100%;
    color: white;
    background-color: #141527;
    border: none;
    border-bottom: 1px solid white;
  }

  button{
    height: 50%;
    width: 10%;
    margin-left: 2%;
  }
}